<header class="header">
  <div class="container">
    <div class="logo-container">
      <img src="https://tse1.mm.bing.net/th/id/OIP.4IejVhnSMEcsFRO1N9vp9QHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="DBE Logo" class="logo">
      <div class="brand">
        <h1>{{ bankName }}</h1>
        <p class="tagline">{{ tagline }}</p>
      </div>
    </div>
    <nav class="nav">
     <nav>
  
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/appointment-form" routerLinkActive="active">Book Appointment</a>
    <a routerLink="/appointments" routerLinkActive="active">My Appointments</a>
  
</nav>
    </nav>
  </div>
</header>

