<app-header></app-header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>


<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <p>Development Bank of Ethiopia</p>
      </div>
      <div class="footer-links">
        <a href="https://dbe.com.et/?page_id=6885">Privacy Policy</a>
        <a href="https://dbe.com.et/?stm_works=terms-and-tariffs#">Terms of Service</a>
        <a href="https://dbe.com.et/?page_id=6598">Contact Us</a>
      </div>
    </div>
    <p class="copyright">© 2025 Development Bank of Ethiopia. All rights reserved.</p>
  </div>
</footer>